@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap');

* {
    font-family: 'Sofia Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.app {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #5d67ee;
    flex-direction: column;
}

.top {
    width: 100%;
    background: #5d67ee;
    box-shadow:  20px 20px 60px #393f91,
                 -20px -20px 60px #818fff;    position: absolute;
    top: 0;
    text-align: center;
}


.status {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
}

.alternatives {
    display: flex;
    flex-direction: row;
    margin-bottom:5mm;
}

.alt {
    margin-left: 5mm;
    margin-right: 5mm;
    background-color: white;
    border: 5px solid black;
    border-radius: 15px;
    padding: 10mm;
    transition: background-color 300ms;
}

.alt:hover {
    cursor: pointer;
    background-color: rgb(218, 218, 218);
}

#calc {
    background-color: white;
    margin-bottom: 10mm;
    padding: 10px;
    border-radius: 10px;
    font-size: 10mm;
    width: 24vw;
    height: 11mm;
    text-align: center;
}

.calculate {
    background-color: lime;
    border: 5px solid black;

    margin-bottom: 10mm;
    padding: 10px;
    border-radius: 10px;
    font-size: 10mm;
    width: 24vw;
    height: 11mm;
    text-align: center;
    transition: background-color 300ms;

}

.calculate:hover {
    cursor: pointer;
    background-color: rgb(7, 199, 7);

}

ul li {
    list-style-type: none;
    background-color: white;
    padding: 3mm;
    border-radius: 15px;
    margin: 2mm;

    display: inline-block;
}

ul {
    text-align: center;
    padding: 0;
}